@media (max-width: 1255px) {
  
  #footer-site nav .left:after {
    background-image: none ;
  }
}


@media (max-width: 1200px) {
  .estrutura {
    grid-template-areas:
      "header header header"
      "sidenav content content"
      "sidenav content content"
      "footer footer footer"
    ;
  }
}


@media (max-width: 991px) {

  #footer-site nav:after {
    background-image: none ;
  }
}


@media (max-width: 950px) {

  #footer-site nav .left {
    background: none ;
  }

  .copyright-site {
    margin: 20px 0 0 0px;
  }
}


@media (max-width: 882px) {
  .estrutura {
    grid-template-columns: 100%; 
    grid-template-areas:
      "header"
      "sidenav"
      "content"
      "content"  
      "footer"  
    ;
  }

  .sidenav {
    position: relative;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .sidenav::after {
    content: '→';
    position: absolute;
    top: 5px;
    right: 30px;
    color: white;
    animation: seta .5s ease-in 0s infinite alternate;
  }

  .sidenav ul {
    display: flex;
  }

  .sidenav li {
    flex: 1 0 60px;
  }

  .sidenav {
    padding: 0 30px;
  }

  .sidenav li a {
    margin: 30px 30px 30px 0;
  }

  #scrollIn {
    /*overflow: hidden;*/
    width: auto ;
    height: auto ;

  }

  .titulo {
    margin-top: 30px;
  }

  .widgetTitulo.luffy {
    display: none;
  }

  .infoLogo {
    max-width: 20%;
    margin: 0px 300px 0 auto ;
  }

  .msg {
    margin: -80px 0px 0px 310px ;
  }

}



@media (max-width: 760px) {
  .header {
    grid-template-columns: auto;
  }
  .logo {
    margin-bottom: 20px;
  }
  .header nav a {
    font-size: 1em;
  }
  .header li + li {
    margin-left: 10px;
  }
}


@media (max-width: 600px) {
  .estrutura {
    grid-template-columns: 100%; 
    grid-template-areas:
      "header"
      "sidenav"
      "content" 
      "content" 
      "footer"  
    ;
  }

  .content section {
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    grid-gap: 0px;
    align-content: center;
  }

  .infoLogo {
    max-width: 20%;
    margin: 0px 400px 0 auto ;
  }

  .msg {
    margin: -80px 0px 0px 110px ;

  }

  #footer-site, .copyright-site p, #footer-adm, .copyright-adm p { 
    font-size: 0.86em;
  }

  #footer-site nav .left {
    display: none;
  }

  #footer-site nav .left:after {
    display: none;

  }

}

@media (max-width: 320px) {
  .titulo {
    font-size: 0.85em;
  }
}