body, p, h1, section, article, span, ul {
  padding: 0px;
  margin: 0px
}

body {
  font-family: "Volkorn", Georgia, serif;
  

}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  border-radius: 5px;
}

/* GRID GERAL */


.estrutura {
  display: grid;
  grid-template-columns: minmax(300px, 1fr) 2fr;
  grid-template-areas:
    "header header header"
    "sidenav content content"
    "footer footer footer"
  ;

  /*background: rgb(28,28,28); */
  background: url(http://animesnosekai.epizy.com/images/fundo.jpg);
}




/*HEADER*/

.header {
  grid-area: header;
  background: rgb(28,28,28);
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.logo {
  max-width: 100px;
}

.header nav ul {
  display: flex;
  flex-wrap: wrap;
}

.header nav a {
  display: block;
  padding: 10px;
  color: white;
  font-size: 1.125em;
  background: rgba(0,0,0,.1);
  border-radius: 5px;
  transition: 0.1s;
}

.header nav a:hover {
  background: rgba(0,0,0,.5);
}

.header li + li {
  margin-left: 30px;
}



/*SIDENAV*/

.sidenav {
  grid-area: sidenav;
  background: rgb(28,28,28);
  padding: 30px;
}

.widgetTitulo.luffy {
    background: url(http://animesnosekai.epizy.com/images/titulogeneros.png) no-repeat;
    height: 53px;
    max-width: 300px;
  /*margin: 0 0px 0 -309px; */
}

.luffy span {
  top: 45px;
  right: 10px;
  position: relative;
  font-weight: 700;
  display: inline-block;
}

.widgetTitulo {
  
  border-radius: 4px 4px 0 0;
  color: #fff;
  font-family: lemon,Roboto,Arial,sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  padding: 20px;
  
}


.sidenav li a {
  display: block;
  min-width: 210px !important;
  max-width: 210px !important;
  margin: 0 auto 30px auto;
  background: rgb(170,32,48);
  color: white;
  padding: 20px;
  border-radius: 5px;
  transition: .1s ease-out;
  text-align: center;
}

.sidenav li a:hover {
  background: rgba(0,0,0,.5);
}

@keyframes seta {
  from {
    right: 30px;
  }
  to {
    right: 20px;
  }
}



#scrollIn {
  background-color: rgb(29,29,29);
  width: 240px;
  height: 400px;
  overflow: scroll;
/*margin: 93px 0 0 0; */
  
}

::-webkit-scrollbar {
  width: 7px !important;
}
  
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px !important;
  background: rgb(170,32,48);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-track{
  background: rgb(29,29,29);
}

::-webkit-scrollbar-corner{
  background: rgb(29,29,29);
}

/*CONTENT*/

.content section {
  display: flex;
  flex-wrap: wrap;

}



.conteudoBlog {
  border: 2px solid rgb(26,26,26, .7);
  background: rgb(26,26,26);
  margin: 0 0 30px 0;
}

.content section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0px;
  align-content: center;

}

/*ESTILOS CONTENT*/

p {
  font-size: 1.2em;
  line-height: 1.6;
  letter-spacing: -0.005em;
  color: rgba(0,0,0,.7);
}


/*TITULO*/

.titulo {
  color: #B07DFB;

}

.titulo {
  padding: 23px 0 22px 0;
  font-weight: 700;
  background: rgb(170,32,48);
  color: white;
  text-align: center;
  
}



/* ANIMES */

.animes {
  display: flex;
  flex-wrap: wrap;
}


article {
  margin: 0 5px 10px 5px !important;
  background: rgb(29,29,29);
  border: 1px solid rgb(155, 155, 155, .1) !important;
  text-align: center;
  padding: 10px !important;
  border-radius: 5px;
  
}



.animes img {
  padding-bottom: 30px !important;
  border-radius: 5px;

}



.animes p{
  color: white;
  font-size: .8em;
  list-style: 1;
  letter-spacing: 0.05;
}

.animes {
  padding-top: 30px !important;
}

button {
  background: rgb(170,32,48);
  margin-top: 20px;
  width: 100px;
  padding: 8px 0px 8px 0px !important;
  border: none;

}

button a {
  color: white;
}

button:hover {
  background: rgba(0,0,0,.5);
}

/*FOOTER*/

#footer-site{
  grid-area: footer;
  height: 200px;
  background: url(http://animesnosekai.epizy.com/images/fundo.jpg);
  position: relative;
  color: #fff;
}


#footer-site nav .left {
  position: relative;
  z-index: 1;
  background: url(http://animesnosekai.epizy.com/images/left.png) no-repeat;
  width: 603px;
  height: 200px;
  float: left;
}

#footer-site nav .left:after {
    background: url(http://animesnosekai.epizy.com/images/gaara.png);
}

#footer-site nav .left:after {
  content: "";
  width: 362px;
  height: 243px;
  position: absolute;
  left: 206px;
  bottom: 0;
  z-index: 3;
}


#footer-site nav:after {
  background: url(http://animesnosekai.epizy.com/images/goku.png);
}


#footer-site .barra-site {
  background: url(http://animesnosekai.epizy.com/images/barraHorizontal.png);
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
}

img.infoLogos {
    position: relative;
    width: 100px;
    height: 90px;
    z-index: 2;
}

.infoLogo {
  max-width: 20%;
  margin: 60px 0px 0px 50px;
}

#footer-site nav:after {
  content: "";
  position: absolute;
  width: 206px;
  height: 301px;
  z-index: 3;
  right: 0;
  bottom: 0;
}


#footer-site,  .copyright-site p{
  color: white;
  text-align: center;
}

.copyright-site {
  margin: 20px 0 0 250px;
}

.msg p {
  display: block;
  font-size: 8px;
  color: white;
}

.msg {
  margin: -160px 317px 0px 0;
}






