body, p, h1, section, article, span, ul {
  padding: 0px;
  margin: 0px
}

body {
  font-family: "Volkorn", Georgia, serif;
  

}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  border-radius: 5px;
}


/* GRID GERAL DO ADM */

.estruturaAdm {
  display: grid;
  grid-template-columns: 1fr 300px 1fr;
  grid-template-areas:
    "login login login"
    "footer footer footer"
  ;
  
  text-align: center;
  justify-content: center;
  background: url(http://animesnosekai.epizy.com/images/fundo.jpg);
}


/* FORM LOGIN */

.login {
  grid-area: login;
  color: black;

}

.logoAdm {
  margin: 0px auto 10px auto;
  max-width: 100px;

}

.formLogin {
  background: white;
  max-width: 300px;
  margin: 0 auto 12.2vh auto;
  padding: 46px 0 47px 0;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.8);
  display: grid;
  justify-content: center;
  text-align: left;

}

.formLogin  label {
  font-family: "Volkorn", Georgia, serif;
  font-weight: 400;
  font-style: bold;
  font-size: 1.0em;
  letter-spacing: 1;

}

.form-control {
  margin: 7px 0 7px 0;
}


.botao {
  margin-bottom: 7px;
  display: block;
  margin: 0 auto;
  padding: 8px 0px 8px 0px;
  width: 100px;
  background: rgb(170,32,48);
  color: white;
  font-family: "Volkorn", Georgia, serif;

}

.botao:hover {
  background: black;
}

/* FOOTER */

#footer-adm{
  grid-area: footer;
  height: 200px;
  background: url(http://animesnosekai.epizy.com/images/fundo.jpg);
  position: relative;
  color: #fff;
}



#footer-adm .barra-adm {
  background: url(http://animesnosekai.epizy.com/images/barraHorizontal.png);
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
}



#footer-adm nav:after {
  content: "";
  position: absolute;
  width: 206px;
  height: 301px;
  z-index: 3;
  right: 0;
  bottom: 0;
}


#footer-adm,  .copyright-adm p{
  color: white;
  text-align: center;
}

.copyright-adm {
    margin: 20px 0 0 0px;
}